<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scripturememory">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/VividTheme">
        <activity
            android:name=".activities.SavedPsgs"
            android:label="@string/app_name"
            android:theme="@style/VividTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".notifications.NotificationReceiver"/>
        <activity
            android:name=".activities.AddPsg"
            android:parentActivityName=".activities.SavedPsgs"
            android:label="@string/addPsgLabel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SavedPsgs" />
        </activity>
        <activity android:name=".activities.MemoryExercise"
            android:parentActivityName=".activities.SavedPsgs"
            android:label="@string/memoryExerciseLabel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SavedPsgs" />
        </activity>
        <activity
            android:name=".activities.Settings"
            android:parentActivityName=".activities.SavedPsgs"
            android:theme="@style/VividTheme.SettingsTheme"
            android:label="@string/settingsLabel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SavedPsgs" />
        </activity>
        <activity
            android:name=".activities.SettingsLanguage"
            android:parentActivityName=".activities.Settings"
            android:label="@string/settingsLanguageLabel">
            <intent-filter>
                <action android:name="goto.SettingsLanguage"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Settings" />
        </activity>
        <activity
            android:name=".activities.SettingsBibleVersion"
            android:parentActivityName=".activities.Settings"
            android:label="@string/settingsLabelBibleVersion">
            <intent-filter>
                <action android:name="goto.SettingsBibleVersion"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Settings" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>